aiolimiter==1.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
lxml==4.9.3
numpy==1.26.0
pandas==2.1.1
PySide6==6.5.3
PySide6-Addons==6.5.3
PySide6-Essentials==6.5.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
selectolax==0.3.16
shiboken6==6.5.3
six==1.16.0
tzdata==2023.3
urllib3==2.0.6
XlsxWriter==3.1.6
